/*Styles associated with the runners*/
.ObjectProps{
  position: absolute;
  overflow: visible;
}
.ObjectProps img{
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
}

/*Styles associated with the chased object*/
.ObjectPropsChase{
  position: absolute;
  overflow: visible;
}
.ObjectPropsChase img{
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px;
}

/*Styles associated with the light*/
.ObjectPropsLight{
  position: absolute;
  overflow: visible;
}
.ObjectPropsLight img{
  display: flex;
  justify-content: center;
  width: 80px;
  height: 300px;
}

/*Styles associated with the ground*/
.Ground{
  position: absolute;
  background-color: #252759;
  margin: 0,0,0,0;
  padding-left: 100;
  padding-bottom: 100;
  padding-right: 100;
}

body{
  background-image: url("Images/background.png");
  background-position: top;
}
